In [1]:
import numpy as np
import pandas as pd

In [26]:
pd.set_option('display.max_columns',100)
pd.set_option('display.max_rows',None)

In [2]:
data = pd.read_excel('C:/Users/Owner/Documents/CDS.xlsx')

In [3]:
data.head()

   Unnamed: 0               Artist                    Album    Year
0         NaN                  NaN                      NaN     NaN
1         NaN  "Weird Al" Yankovic        Dare to be Stupid  1985.0
2         NaN  "Weird Al" Yankovic               Alapalooza  2003.0
3         NaN  "Weird Al" Yankovic            Mandatory Fun  2014.0
4         NaN             10 Years  (How to Live) As Ghosts  2017.0

In [4]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [5]:
data.head()

                Artist                    Album    Year
0                  NaN                      NaN     NaN
1  "Weird Al" Yankovic        Dare to be Stupid  1985.0
2  "Weird Al" Yankovic               Alapalooza  2003.0
3  "Weird Al" Yankovic            Mandatory Fun  2014.0
4             10 Years  (How to Live) As Ghosts  2017.0

In [6]:
data=data.T

In [7]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,282,283,284,285,286,287,288,289,290,291
Artist,NaN,"""Weird Al"" Yankovic","""Weird Al"" Yankovic","""Weird Al"" Yankovic",10 Years,3 Doors Down,3 Doors Down,3 Doors Down,5 Seconds of Summer,A Day to Remember,...,Various Artists,Various Artists,Various Artists,Various Artists,Vo-Kal,We Came as Romans,We Came as Romans,We Came as Romans,We Came as Romans,Weezer
Album,NaN,Dare to be Stupid,Alapalooza,Mandatory Fun,(How to Live) As Ghosts,The Better Life,Away From The Sun,Away From the Sun,Five,What Separates You From Me,...,The Best Of: Taste of Chaos Disc 2,Go Ahead Punkâ€¦ Make My Day,Daredevil: The Album,Rock the Beat,VK!,Understanding What We've Grown to be,Tracing Back Roots,We Came as Romans,Cold Like War,The Blue Album
Year,NaN,1985.0,2003.0,2014.0,2017.0,2000.0,2002.0,2002.0,2014.0,2010.0,...,2006.0,1996.0,2006.0,1995.0,2018.0,2011.0,2013.0,2015.0,2017.0,1994.0

In [8]:
data.drop(0,axis=1,inplace=True)

In [9]:
data=data.T
data.head()

                Artist                    Album    Year
1  "Weird Al" Yankovic        Dare to be Stupid  1985.0
2  "Weird Al" Yankovic               Alapalooza  2003.0
3  "Weird Al" Yankovic            Mandatory Fun  2014.0
4             10 Years  (How to Live) As Ghosts  2017.0
5         3 Doors Down          The Better Life  2000.0

In [10]:
data['Year'].isna().sum()

1

In [11]:
data.tail()

                Artist                                 Album    Year
287  We Came as Romans  Understanding What We've Grown to be  2011.0
288  We Came as Romans                    Tracing Back Roots  2013.0
289  We Came as Romans                     We Came as Romans  2015.0
290  We Came as Romans                         Cold Like War  2017.0
291             Weezer                        The Blue Album  1994.0

In [12]:
data.head()

                Artist                    Album    Year
1  "Weird Al" Yankovic        Dare to be Stupid  1985.0
2  "Weird Al" Yankovic               Alapalooza  2003.0
3  "Weird Al" Yankovic            Mandatory Fun  2014.0
4             10 Years  (How to Live) As Ghosts  2017.0
5         3 Doors Down          The Better Life  2000.0

In [13]:
data[data['Year'].isna()]

           Artist          Album Year
44  Beyond Repair  Things Change  NaN

In [14]:
data['Year']=data['Year'].replace(np.nan,0)

In [15]:
data

                  Artist                                 Album    Year
1    "Weird Al" Yankovic                     Dare to be Stupid  1985.0
2    "Weird Al" Yankovic                            Alapalooza  2003.0
3    "Weird Al" Yankovic                         Mandatory Fun  2014.0
4               10 Years               (How to Live) As Ghosts  2017.0
5           3 Doors Down                       The Better Life  2000.0
..                   ...                                   ...     ...
287    We Came as Romans  Understanding What We've Grown to be  2011.0
288    We Came as Romans                    Tracing Back Roots  2013.0
289    We Came as Romans                     We Came as Romans  2015.0
290    We Came as Romans                         Cold Like War  2017.0
291               Weezer                        The Blue Album  1994.0

[291 rows x 3 columns]

In [16]:
data[data['Artist']=='Beyond Repair']

           Artist          Album  Year
44  Beyond Repair  Things Change   0.0

In [17]:
data['Year']=list(map(lambda x: int(round(x,0)),data['Year']))

In [18]:
data.isna().sum()

Artist    0
Album     0
Year      0
dtype: int64

In [19]:
data.head()

                Artist                    Album  Year
1  "Weird Al" Yankovic        Dare to be Stupid  1985
2  "Weird Al" Yankovic               Alapalooza  2003
3  "Weird Al" Yankovic            Mandatory Fun  2014
4             10 Years  (How to Live) As Ghosts  2017
5         3 Doors Down          The Better Life  2000

In [21]:
data.loc[44]

Artist    Beyond Repair
Album     Things Change
Year                  0
Name: 44, dtype: object

In [22]:
data['Year'].nunique()

38

In [23]:
data['Year'].unique()

array([1985, 2003, 2014, 2017, 2000, 2002, 2010, 2013, 2018, 2005, 2012,
       1995, 2008, 2011, 1994, 2001, 1998, 2015, 2006, 2007, 2004,    0,
       1970, 1973, 1999, 1993, 1996, 2016, 1997, 1992, 2009, 2019, 1990,
       1977, 1991, 1981, 1989, 1964], dtype=int64)

In [24]:
data['Artist'].nunique()

177

In [27]:
data['Artist'].value_counts()

Senses Fail                             8
Nickelback                              7
Lamb of God                             7
Various Artists                         6
DevilDriver                             5
New Found Glory                         5
We Came as Romans                       4
Mudvayne                                4
Brand New                               4
Blink 182                               3
Slipknot                                3
Puddle of Mudd                          3
Sum 41                                  3
"Weird Al" Yankovic                     3
Stone Temple Pilots                     3
Rush                                    3
Butthole Surfers                        3
Chimaira                                3
Drowning Pool                           3
Crossfade                               3
Alkaline Trio                           3
3 Doors Down                            3
A Perfect Circle                        3
Acacia Strain                           3
Alesana                                 3
Incubus                                 3
Hatebreed                               3
Matchbox 20                             2
Cute Is What We Aim For                 2
Set Your Goals                          2
Linkin Park                             2
Seether                                 2
Eighteen Visions                        2
Mark Chesnutt                           2
Godsmack                                2
Evanescence                             2
Relient K                               2
Fear Factory                            2
Metallica                               2
Queen                                   2
Motionless in White                     2
For Today                               2
Philip Wesley Yates                     2
Parkway Drive                           2
Hatesphere                              2
God Forbid                              2
Nonpoint                                2
Lifehouse                               2
Trapt                                   2
The Used                                2
Throwdown                               2
Attack Attack!                          2
Angel Blake                             2
Soundtrack                              2
Trust Company                           2
Bring Me The Horizon                    2
Avenged Sevenfold                       2
Soundgarden                             2
Black Sabbath                           2
System of a Down                        2
Cake                                    2
Candlebox                               2
A Day to Remember                       2
Bloodsimple                             2
The Fold                                1
The Final Burden                        1
Nine Inch Nails                         1
Newsted                                 1
Soapbox Arson                           1
Threat Signal                           1
My Chemical Romance                     1
Much The Same                           1
The Cure                                1
Meat Loaf                               1
Twelve Gauge Valentine                  1
Maroon 5                                1
Underoath                               1
Lit                                     1
Vo-Kal                                  1
No Doubt                                1
Pierce The Veil                         1
Of Mice & Men                           1
The Bled                                1
Simon & Garfunkel                       1
Limp Bizkit                             1
Seven Mary Three                        1
Sepultura                               1
Soil                                    1
Semisonic                               1
Sematic                                 1
Seal                                    1
Savage Garden                           1
Saosin                                  1
Spin Doctors                            1
Saliva                                  1
SpineShank                              1
Spongebob Squarepants                   1
Rollins Band                            1
Red                                     1
Stutterfly                              1
Recession                               1
Social Distortion                       1
Taking Back Sunday                      1
Taproot                                 1
Silverstein                             1
Hanson                                  1
Kid Rock                                1
Burn The Priest                         1
Bloodlined Calligraphy                  1
Bob Marley & The Wailers                1
Born From Pain                          1
Bowling For Soup                        1
Brand New Sin                           1
Breaking Benjamin                       1
Bush                                    1
Beyond Repair                           1
Chunk! No, Captain Chunk!               1
Cold                                    1
Creed                                   1
Crowbar                                 1
Damageplan                              1
Daughtry                                1
Blessthefall                            1
Better Than Ezra                        1
Dead Weight                             1
Architect                               1
5 Seconds of Summer                     1
A Perfect Murder                        1
Alanis Morissette                       1
Alice in Chains                         1
Alien Ant Farm                          1
All That Remains                        1
As I Lay Dying                          1
Becoming The Archetype                  1
At Half Mast                            1
Atreyu                                  1
Avril Lavigne                           1
Bagheera                                1
Bayside                                 1
Beautiful Skin                          1
Dead Poetic                             1
Default                                 1
Jungle Rot                              1
Hellyeah                                1
George Thorogood & The Destroyers       1
Gin Blossoms                            1
Godhead                                 1
Green Day                               1
10 Years                                1
Hawthorne Heights                       1
Hevein                                  1
Front Line Assembly                     1
Hootie & The Blowfish                   1
In This Moment                          1
International Superheroes of Harcore    1
Jack's Mannequin                        1
Johnny Cash                             1
Journey                                 1
George Strait                           1
Found Dead Hanging                      1
Demon Hunter                            1
Escape The Fate                         1
Diecast                                 1
Dinosaur Jr.                            1
Dire Straits                            1
Dry Kill Logic                          1
Dryline                                 1
Eminem                                  1
Everclear                               1
Foreigner                               1
Fall Out Boy                            1
Falling in Reverse                      1
Fire From The Gods                      1
Fit For an Autopsy                      1
Five Finger Death Punch                 1
Flyleaf                                 1
Weezer                                  1
Name: Artist, dtype: int64

In [29]:
cdct=list(data['Artist'].value_counts())

In [ ]:
#create dictionary of artist to cds owned of artist to apply to new column in original table

In [31]:
len(cdct)

177

In [28]:
data['Total CDs']=list(map(lambda x: x.value_counts(),data['Artist']))

AttributeError: 'str' object has no attribute 'value_counts'