In [1]:
import numpy as np
import pandas as pd

In [104]:
data = pd.read_excel('C:/Users/Owner/Documents/CDS.xlsx')

In [105]:
data.head()

   Unnamed: 0               Artist                    Album    Year
0         NaN                  NaN                      NaN     NaN
1         NaN  "Weird Al" Yankovic        Dare to be Stupid  1985.0
2         NaN  "Weird Al" Yankovic               Alapalooza  2003.0
3         NaN  "Weird Al" Yankovic            Mandatory Fun  2014.0
4         NaN             10 Years  (How to Live) As Ghosts  2017.0

In [106]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [107]:
data.head()

                Artist                    Album    Year
0                  NaN                      NaN     NaN
1  "Weird Al" Yankovic        Dare to be Stupid  1985.0
2  "Weird Al" Yankovic               Alapalooza  2003.0
3  "Weird Al" Yankovic            Mandatory Fun  2014.0
4             10 Years  (How to Live) As Ghosts  2017.0

In [108]:
data=data.T

In [113]:
data.head()

,1,2,3,4,5,6,7,8,9,10,...,282,283,284,285,286,287,288,289,290,291
Artist,"""Weird Al"" Yankovic","""Weird Al"" Yankovic","""Weird Al"" Yankovic",10 Years,3 Doors Down,3 Doors Down,3 Doors Down,5 Seconds of Summer,A Day to Remember,A Day to Remember,...,Various Artists,Various Artists,Various Artists,Various Artists,Vo-Kal,We Came as Romans,We Came as Romans,We Came as Romans,We Came as Romans,Weezer
Album,Dare to be Stupid,Alapalooza,Mandatory Fun,(How to Live) As Ghosts,The Better Life,Away From The Sun,Away From the Sun,Five,What Separates You From Me,Common Courtesy,...,The Best Of: Taste of Chaos Disc 2,Go Ahead Punk… Make My Day,Daredevil: The Album,Rock the Beat,VK!,Understanding What We've Grown to be,Tracing Back Roots,We Came as Romans,Cold Like War,The Blue Album
Year,1985.0,2003.0,2014.0,2017.0,2000.0,2002.0,2002.0,2014.0,2010.0,2013.0,...,2006.0,1996.0,2006.0,1995.0,2018.0,2011.0,2013.0,2015.0,2017.0,1994.0

In [110]:
data.drop(0,axis=1,inplace=True)

In [114]:
data=data.T
data.head()

                Artist                    Album    Year
1  "Weird Al" Yankovic        Dare to be Stupid  1985.0
2  "Weird Al" Yankovic               Alapalooza  2003.0
3  "Weird Al" Yankovic            Mandatory Fun  2014.0
4             10 Years  (How to Live) As Ghosts  2017.0
5         3 Doors Down          The Better Life  2000.0

In [115]:
data['Year'].isna().sum()

1

In [116]:
data.tail()

                Artist                                 Album    Year
287  We Came as Romans  Understanding What We've Grown to be  2011.0
288  We Came as Romans                    Tracing Back Roots  2013.0
289  We Came as Romans                     We Came as Romans  2015.0
290  We Came as Romans                         Cold Like War  2017.0
291             Weezer                        The Blue Album  1994.0

In [117]:
data.head()

                Artist                    Album    Year
1  "Weird Al" Yankovic        Dare to be Stupid  1985.0
2  "Weird Al" Yankovic               Alapalooza  2003.0
3  "Weird Al" Yankovic            Mandatory Fun  2014.0
4             10 Years  (How to Live) As Ghosts  2017.0
5         3 Doors Down          The Better Life  2000.0

In [118]:
data[data['Year'].isna()]

           Artist          Album Year
44  Beyond Repair  Things Change  NaN

In [119]:
data['Year']=data['Year'].replace(np.nan,0)

In [120]:
data

                  Artist                                 Album    Year
1    "Weird Al" Yankovic                     Dare to be Stupid  1985.0
2    "Weird Al" Yankovic                            Alapalooza  2003.0
3    "Weird Al" Yankovic                         Mandatory Fun  2014.0
4               10 Years               (How to Live) As Ghosts  2017.0
5           3 Doors Down                       The Better Life  2000.0
..                   ...                                   ...     ...
287    We Came as Romans  Understanding What We've Grown to be  2011.0
288    We Came as Romans                    Tracing Back Roots  2013.0
289    We Came as Romans                     We Came as Romans  2015.0
290    We Came as Romans                         Cold Like War  2017.0
291               Weezer                        The Blue Album  1994.0

[291 rows x 3 columns]

In [121]:
data[data['Artist']=='Beyond Repair']

           Artist          Album  Year
44  Beyond Repair  Things Change   0.0

In [122]:
data['Year']=list(map(lambda x: int(round(x,0)),data['Year']))

In [123]:
data.isna().sum()

Artist    0
Album     0
Year      0
dtype: int64

In [124]:
data.head()

                Artist                    Album  Year
1  "Weird Al" Yankovic        Dare to be Stupid  1985
2  "Weird Al" Yankovic               Alapalooza  2003
3  "Weird Al" Yankovic            Mandatory Fun  2014
4             10 Years  (How to Live) As Ghosts  2017
5         3 Doors Down          The Better Life  2000

In [83]:
#filtering by index
data.index==44

SyntaxError: invalid syntax (Temp/ipykernel_14772/896506775.py, line 1)

In [125]:
data.loc[44]

Artist    Beyond Repair
Album     Things Change
Year                  0
Name: 44, dtype: object